{% extends "shop_product/shop_product.html" %}
{% load static %}

{% block title %}
    Fitness Shop
{% endblock %}

{% block content %}
  <h1 class="user_detail text-center">Fitness Center Orden</h1>
    <table class="cart">
        <thead>
            <tr>
                <th><i class="fa fa-camera-retro" aria-hidden="true"></i> Image</th>
                <th><i class="fa fa-shopping-cart" aria-hidden="true"></i> Product</th>
                <th><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i> Quantity</th>
                <th><i class="fa fa-times" aria-hidden="true"></i>    Remove</th>
                <th><i class="fa fa-money" aria-hidden="true"></i> Unit price          </th>                
                <th><i class="fa fa-usd" aria-hidden="true"></i> Price      </th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/404.jpg" %}{% endif %}">
                    </a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                    {{item.quantity}}
                   
                </td>
                <td>
                     <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                <br>
                <a href="{% url "cart:cart_remove" product.id %}">Remove</a></td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num"><i class="fa fa-usd" aria-hidden="true"></i> {{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop_product:product_list" %}" class="button light">Continue shopping</a>
        <a href="{% url "orders:order_create" %}" class="button">Pagar</a>
    </p>
{% endblock %}