{% extends 'base_sis.html' %}
{%load static%}
{%block sis%}

    <div style="padding-top: 50px;">
        <nav class="navbar shop" role="navigation">
            <div class="navbar-header col-lg-9">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    <a href="{% url "cart:cart_detail" %}" style="font-size: 25px;color:#4db6ac; ">
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="color:#4db6ac;"></i>
                        : {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 25px; color:#4db6ac;">: 0</i>
                {% endif %}
            {% endwith %}
            </div>
        </nav>
        {%block content%}

        {%endblock%}
    </div>
   
{%endblock sis%}