{% extends 'base_sis.html' %}
{%load static%}
{% include "sidebar_sis.html" %}
{%block sis%}
<div style="padding-top: 50px;">
		{% if request.user.user_admin %}
					<div class="text-center strong"><h1 class="user_detail">Lista de Clientes</h1></div>
		{% for client in clients %}
			<div class="cardBox">
				
                <div class="card">
                          <div class="front">
                            <h3>{{client.user_client.first_name}}</h3>
                            <div><img src="{% if client.photo %}{{client.photo.url}}{%else%} {%static "img/404.png"%}{%endif%}" class="profile_img"></div>
							<p><i class="fa fa-envelope" aria-hidden="true"> : {{client.user_client.email}}</i></p>
							<p><i class="fa fa-phone" aria-hidden="true">: {{client.phone_num}}</i></p>
						  </div>
                          <div class="back">
							<h3><a href="{% url 'accounts:detail-client' client.user_client_id %}">Cliente: {{client.user_client.first_name}} {{client.user_client.last_name}}</a></h3>
                            <p>Fecha inicio: {{client.start_date}}</p>
							<p><i class="fa fa-map-marker" aria-hidden="true"> : {{client.address}}.</i></p>
							<p><i class="fa fa-history" aria-hidden="true"> : {{client.age}} años</i></p>
							<p><i class="fa fa-heart" aria-hidden="true">: {{client.blood_type}}</i></p>
							<a href="{% url 'monthlypayments:page-client' client.unique_id %}" class="btn btn-info" type="button">Cobrar</a>	
                          </div>
                </div>
				
            </div>
		{% endfor %}
		{% else %}

			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="alert alert-danger">
							<h3>Necesitas ser administrador para ver esta página.</h3>
						</div>
					</div>
				</div>
			</div>
			
		{% endif %}
	</div>

{%endblock sis%}