{% extends 'base_sis.html' %}

{%load static%}

{%block content%}
	<div style="padding-top: 150px;">
		<div class="text-center strong"><h1>Lista de Clientes</h1></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-6">
					<ul class="list-unstyled list-inline">
						<li>
							<a href="{% url 'accounts:list-client' 'PA'%}">
								<buttton class="btn btn-success">
									Pagado
								</buttton>
							</a>
						</li>
						<li>
							<a href="{% url 'accounts:list-client' 'PE'%}">
								<buttton class="btn btn-warning">
									Pendiente
								</buttton>
							</a>
						</li>
						<li>
							<a href="{% url 'accounts:list-client' 'AT'%}">
								<buttton class="btn btn-danger">
									Atrasado
								</buttton>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-body">
				<ul class="list-group">
					{% for client in clients %}
						<a href="{% url 'accounts:detail-client' client.user_client_id %}" class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									
									<div class="col-md-1">
										<img src="{{client.photo.url}}" class="img-responsive img-circle" style="width: 80%;">
									</div>

									<div class="col-md-3">
										{{client.user_client.first_name}}
									</div>

									<div class="col-md-3">
										{{client.user_client.last_name}}
									</div>

									<div class="col-md-2">
										{{client.user_client.email}}
									</div>

									<div class="col-md-2">
										{{client.start_date}}
									</div>

									<div class="col-md-1">
										{% if client.status == "PA" %}
											<div class="alert alert-success" role="alert"></div>
										{% else %}
											{% if client.status == "PE" %}
												<div class="alert alert-warning" role="alert"></div>
											{% else %}
												<div class="alert alert-danger" role="alert"></div>
											{% endif %}
										{% endif %}
									</div>
								</div><!-- div Row -->
							</div><!-- div Container -->
						</a><!-- a -->
					{% endfor %}
				</ul><!-- div list-group -->
			</div><!-- div panel-body -->
		</div>
	</div>

{%endblock content%}