{% extends 'base_sis.html' %} 
{% load static %}

{%block content%}


<div class="cont_login text-center" style="padding-top: 150px;">
		{% if form.erros %}
			<h2 class="letter_sis">Tu usuario y contraseña no concuerdan, por favor intentalo nuevamente.</h2>
		{% else %}
			<h2 class="letter_sis">Iniciar Sesión</h2>
		{% endif %}

		<form action="{%url 'accounts:login'%}" method="post" class="login">
			{%csrf_token%}
			{{form.as_p}}
			<input type="hidden" name="next" value="{{next}}">
			<input type="submit" name="submit" value="Iniciar Sesión">
		</form>
</div>
{%endblock content%}



  