{% extends 'base_sis.html' %} 
{% load crispy_forms_tags%}
{% load static %}

{%block head%}
	<link href="{% static 'css/center.css'%}" rel="stylesheet">
{%endblock head%}

{%block content%}

	<div class="container" style="padding-top: 100px;">
		<div class="row">
				<h2 class="user_detail text-center">Bienvenido a Fitness Center</h2>
			<div class="col-sm-6 col-sm-offset-3 bg-info">
					{% if form.erros %}
						<h2 class="letter_sis">Tu usuario y contraseña no concuerdan, por favor intentalo nuevamente.</h2>
					{% else %}
						<h2 class="user_detail text-center">Iniciar Sesión</h2>
					{% endif %}

					<form action="{%url 'accounts:login'%}" method="post" class="login">
						{%csrf_token%}
						{{form|crispy}}
						<input type="hidden" name="next" value="{{next}}">
						<div class="text-center">
						<input type="submit" name="submit" value="Iniciar Sesión" class="btn btn-info">
						</div>
					</form>
					<!--<a href="{% url 'accounts:password_reset' %} "><h5 class="user_detail text-center">¿Olvidates tu contraseña?</h5></a>-->
			</div>
		</div>
	</div>
	
{%endblock content%}



  