{% extends 'base_sis.html' %}
{% load static %}

{% block titulo %}
	Restaurar Contraseña
{% endblock titulo %}

{% block content %}
	<div class="container" style="padding: 50px;">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2>Restaurar Contraseña</h2>
				{% if validlink %}
					<p>Por favor ingrese su nueva contraseña dos veces:</p>
					<form action="." method="post">
						{{ form.as_p }}
						{% csrf_token %}
						<input type="submit" name="submit" value="Cambiar mi contraseña" class="btn btn-primary btn-lg">
					</form>
				{% else %}
					<p>
						El enlace para reestablecer la contraseña no es válido, posiblemente por que ya se ha utilizado.
						Por favor solicite de nuevo, reestablecer su contraseña.
					</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}