{% extends 'base_sis.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block titulo %}
	Cambiar Contraseña
{% endblock titulo %}

{% block sis %}
	<div class="container">
		<div class="row">
			<div class=" col-md-10 col-sm-12 col-xs-12" style="padding: 50px;">
				<div class="text-center">
					<h2 class="user_detail">Cambia tu contraseña</h2>
					<p>
						<h3 class="user_detail">Usa el siguiente formulario para cambiar tu contraseña.</h3>
					</p>
				</div>
				<form action="." method="post">
					{{ form|crispy }}
					{% csrf_token %}
					<div class="text-center">
						<input type="submit" name="submit" value="Cambiar" class="btn btn-primary btn-lg">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock sis %}