{% extends 'base_sis.html' %}
{% load static %}

{% block titulo %}
	Recuperar Contraseña
{% endblock titulo %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="user_detail text-center"><i class="fa fa-key" aria-hidden="true"></i> ¿Olvidaste tu contraseña?</h2>
				<p>Ingresa tu correo electronico para obtener una nueva contraseña.</p>
				<form action="." method="post">
					{{ form.as_p }}
					{% csrf_token %}
					<input type="submit" name="submit" class="btn btn-info" value="Enviar correo">
				</form>

			</div>
		</div>
	</div>
{% endblock content %}