{% extends "base_sis.html" %}

{% load static%}

{%block head%}
    <link href="{% static 'css/class.css'%}" rel="stylesheet">
{%endblock head%}
{% block content %}

<div style="padding-top: 50px;">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <div class="text-center" style="padding-top: 10px; padding-bottom: 10px;">
            <h1>¿Deseas eliminar esta clase?</h1>
            <h1>{{ course.name }}</h1>
            <img src="{% if course.picture %}{{ course.picture.url }}{% else %}{% static "img/404.jpg"%}{% endif %}"  height="150" >
        </div>
    </div>
</div>


        <div style="padding-top: 10px;" class="text-center">
            
                <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                    <div>
                        <form method="post">{% csrf_token %}
                            <input type="submit" value="Eliminar" class="btn btn-danger  "/>
                        </form>
                        
                    </div>
                    <div>
                        <a href="{%url 'courses:list'%}">
                        <button type="button" class="btn btn-success  glyphicon glyphicon-chevron-left ">Back</button>
                        </a>
                    </div>  
                </div> 
        </div>

{% endblock content%}