{% extends "base_sis.html" %}

{% load static%}

{%block title%} Error 404 {%endblock title%}
{%block head%}
    
{%endblock head%}

{% block sis%}
    <div class="container" style="padding-top:5px; padding-left: 5px;padding-right: 5px;padding-bottom: 5px;">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 bg-danger">
                <img src="https://images.alphacoders.com/476/476980.png" alt="" class="img-responsive">
            </div>
        </div>        
    </div>
{%endblock sis%}